In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('CreditScoring.csv')
df.sample(10)

,Status,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price
1334,1,15,5,36,40,2,2,3,75,0,0,0,375,375
1556,1,19,1,60,41,2,1,1,88,125,0,0,1450,1564
1841,1,5,6,36,49,2,1,4,60,44,8000,0,400,428
2561,1,6,2,60,33,2,1,2,60,140,6000,0,1150,1715
2962,1,7,2,12,45,3,2,3,75,200,15000,0,600,1130
3544,1,18,2,60,51,2,1,1,60,205,8000,0,1100,1350
2796,1,2,6,60,20,1,1,1,35,165,2000,0,1000,1275
206,1,4,5,48,29,2,1,1,45,194,0,0,1200,1374
1545,2,0,6,60,32,2,1,1,75,160,0,0,1300,1350
823,2,10,1,24,52,2,1,3,45,0,2000,0,400,1242

In [4]:
df.columns = df.columns.str.lower()
df.columns

Index(['status', 'seniority', 'home', 'time', 'age', 'marital', 'records',
       'job', 'expenses', 'income', 'assets', 'debt', 'amount', 'price'],
      dtype='object')